<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <h1>Home page| india</h1>
    <h3>Home page rendered</h3>
    <div>
        {{bdata}} {{clist}}
    </div>
    <style>
        h1{
            background-color: aqua;
            text-align: center;
            color: brown;
        }
        div{
            background-color: bisque;
            text-align: left;
            flood-color: cadetblue;
        }
    </style>
    
   
   
</head>
<body>
    { % for i in clist %}
    <div>hello</div>
   
    
    
</body>
</html>